/* This is a CSS comment */

/* Set the font family and size for the body element */
body {
    font-family: Times new Roman, sans-serif;
    font-size: 16px;
    background-color: #3b3a3a;
    margin: 0px;
  }
  
  /* Set the background color and text color for the header element */
  header {
    color: #D3D3D3;
    background-color: #666;
    padding: 50px;
  }
  
  /* Set the font size and margin for the h1 element */
  h1, h2, p {
    font-size: 24px;
    margin: 20px 0;
    padding: 10px, 10px, 10px, 10px;
    color: #D3D3D3;
    text-align: center;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  .chunk {
    background-color: #2c2b2b;
    padding: 30px;
    margin: 20px auto;
    
  }
  
  /* Style links */
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    color: #666;
  }